Source: ros-noetic-libcreate
Section: misc
Priority: optional
Maintainer: Jacob Perron <jacobmperron@gmail.com>
Build-Depends: debhelper (>= 9.0.0), cmake, libboost-all-dev, libgtest-dev
Homepage: http://wiki.ros.org/libcreate
Standards-Version: 3.9.2

Package: ros-noetic-libcreate
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libboost-all-dev, ros-noetic-catkin
Description: C++ library for interfacing with iRobot's Create 1 and Create 2
